[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/weierophinney/vimwiki.git
