[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/weierophinney/vimwiki.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = git://github.com/mattn/calendar-vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/twitvim"]
	path = bundle/twitvim
	url = git://github.com/vim-scripts/TwitVim.git
[submodule "bundle/fanvim"]
	path = bundle/fanvim
	url = git@github.com:shawjia/FanVim.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/color-moria"]
	path = bundle/color-moria
	url = git://github.com/vim-scripts/moria.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/vim-scripts/Gundo.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = git://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/syntax-json"]
	path = bundle/syntax-json
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/syntax-django"]
	path = bundle/syntax-django
	url = git://github.com/vim-scripts/django.vim.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/color-paintox"]
	path = bundle/color-paintox
	url = git://github.com/vim-scripts/paintbox.git
